<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>
      <div class="container">
        <%- include("./partials/sidebar.ejs") %>
          <main>
            <h1>Welcome to FileVault</h1>
            <header>
              <div class="search-bar">
                <input type="text" placeholder="Search files and folders" />
                <button><i class="fas fa-search"></i></button>
              </div>
              <!-- Replace the existing view-options div with this: -->
              <%- include("./partials/viewOption.ejs") %>
            </header>

            <%- include("./partials/filter.ejs") %>

              <div id="fileContainer" class="file-list">
                <table>
                  <%- include("./partials/tableHead.ejs") %>
                    <tbody>
                      <% for (const file of indexData) { %>
                        <tr class="files" data-id="<%= file.id %>" data-fileName="<%= file.fileName %>">
                          <td class="truncate-with-tooltip" data-full-text="<%= file.fileName %>">
                            <span>
                              <i class="fas fa-file-alt"></i>
                              <%= file.fileName %>
                            </span>
                          </td>
                          <td class="truncate-with-tooltip"
                            data-full-text="<%= file.lastOpenedAt ? new Intl.DateTimeFormat('en-US', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: true }).format(file.lastOpenedAt) : 'N/A' %>">
                            <span>
                              <%= file.lastOpenedAt ? new Intl.DateTimeFormat('en-US', { year: 'numeric' ,
                                month: '2-digit' , day: '2-digit' , hour: '2-digit' , minute: '2-digit' , hour12: true
                                }).format(file.lastOpenedAt) : 'N/A' %>
                            </span>
                          </td>
                          <td class="truncate-with-tooltip" data-full-text="<%= file.user.username %>">
                            <span>
                              <%= file.user.username %>
                            </span>
                          </td>
                          <td class="truncate-with-tooltip" data-full-text="<%= file.location %>">
                            <span>
                              <%= file.location %>
                            </span>
                          </td>
                          <td class="actions">
                            <button><i class="fas fa-share"></i></button>
                            <a href="/download/<%= file.id %>"><button><i class="fas fa-download"></i></button></a>
                            <button onclick="showRenamePrompt('<%= file.id %>', '<%= file.fileName %>')"><i
                                class="fas fa-edit"></i></button>
                            <button onclick="starFile('<%= file.id %>')">
                              <% if (file.starred) { %>
                                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                <% } else { %>
                                  <i class="fas fa-star"></i>
                                  <% } %>
                            </button>
                            <button class="more-options" data-id="<%= file.id %>">
                              <i class="fas fa-ellipsis-v"></i>
                            </button>
                          </td>
                        </tr>
                        <% } %>


                    </tbody>
                </table>
              </div>
          </main>
      </div>

      <%- include("./partials/customContextMenu.ejs") %>

        <script src="https://cdn.jsdelivr.net/npm/vanilla-context-menu/dist/vanilla-context-menu.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/contextMenuScript.js"></script>
        <script src="/js/sweetAlertUtils.js"></script>
        <script src="/js/fileViewToggle.js"></script>
        <script src="/js/eclipseMenuHelper.js"></script>
  </body>

</html>